.rounded-pill {
  border-radius: 5px !important;
}

.tt-color {
  color: rgb(253, 35, 78) !important;
}

.tt-bgcolor {
  background-color: rgb(253, 35, 78) !important;
}

.tt-secondary {
  color: #c6c9cc !important;
}

.tt-bg-secondary {
  background-color: #c6c9cc !important;
}

.start-20 {
  left: 20% !important;
}

.top-40 {
  top: 40% !important;
}

.image-bg {
  padding: 40px;
  border-radius: 20%;
  display: inline-block;
  width: 180px;
  height: 180px;
}

/* Hover effect for "Get Started" */
.get-started-btn:hover {
  background-color: rgb(219, 32, 70) !important; /* Darker color on hover */
  transform: scale(1.05); /* Enlarge slightly */
}

/* Transition effect for Login and Register buttons */
.login-button:hover {
  background-color: rgb(219, 32, 70) !important; /* Darker color on hover for Login/Register */
}

.register-button:hover {
  background-color: #eeeeee !important; /* Darker color on hover for Login/Register */
}

/* Ensure smooth transition for all buttons */
.login-button, .register-button, .get-started-btn {
  transition: all 0.3s ease;
}

.darkbg {
  background-color: #dddddd !important;
}

.task-item {
  transition: transform 0.2s;
}

.task-item:hover {
  transform: scale(1.02);
}

.btn-outline-primary:hover {
  background-color: #0d6efd;
  color: white;
}

.btn-outline-danger:hover {
  background-color: #dc3545;
  color: white;
}
