.rounded-pill {
  border-radius: 5px !important;
}

.tt-color {
  color: rgb(253, 35, 78) !important;
}

.tt-bgcolor {
  background-color: rgb(253, 35, 78) !important;
}

.tt-secondary {
  color: #c6c9cc !important;
}

.tt-bg-secondary {
  background-color: #c6c9cc !important;
}

.start-20 {
  left: 20% !important;
}

.top-40 {
  top: 40% !important;
}